{
  "openapi": "3.0.1",
  "info": {
    "title": "Commerce Webservices",
    "description": "These services manage all of the common commerce functionality, and also include customizations from installed AddOns. The implementing extension is called commercewebservices.",
    "license": {
      "name": "Use of this file is subject to the terms of your agreement with SAP SE or its affiliates respecting the use of the SAP product for which this file relates.",
      "url": ""
    },
    "version": "2.2.1"
  },
  "externalDocs": {
    "description": "SAP Commerce Cloud",
    "url": "https://www.sap.com"
  },
  "servers": [
    {
      "url": "https://sap-composable-storefront.iscm.sqli.com/occ/v2",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "oauth2_Password": [
        "basic"
      ]
    },
    {
      "oauth2_client_credentials": [
        "extended"
      ]
    }
  ],
  "tags": [
    {
      "name": "PunchOut",
      "description": "PunchOut"
    }
  ],
  "paths": {
    "/basesites": {
      "get": {
        "tags": [
          "Base Sites"
        ],
        "summary": "Get all base sites.",
        "description": "Get all base sites with corresponding base stores details in FULL mode.",
        "operationId": "getBaseSites",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
          
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSiteList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseSiteList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/basestores/{baseStoreUid}": {
      "get": {
        "tags": [
          "Base Stores"
        ],
        "summary": "Get a base store.",
        "description": "Returns details of a specific base store based on its identifier. The response contains detailed base store information.",
        "operationId": "getBaseStore",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "baseStoreUid",
            "in": "path",
            "description": "Base store name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BaseStore"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseStore"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cardtypes": {
      "get": {
        "tags": [
          "Miscs"
        ],
        "summary": "Get a list of supported payment card types.",
        "description": "Lists supported payment card types.",
        "operationId": "getCardTypes",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CardTypeList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTypeList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/catalogs": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get a list of catalogs",
        "description": "Returns all catalogs with versions defined for the base store.",
        "operationId": "getCatalogs",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/catalogs/{catalogId}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get a catalog",
        "description": "Returns information about a catalog based on its ID, along with the versions defined for the current base store.",
        "operationId": "getCatalog",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Catalog"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/catalogs/{catalogId}/{catalogVersionId}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get information about catalog version",
        "description": "Returns information about the catalog version that exists for the current base store.",
        "operationId": "getCatalogVersion",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogVersionId",
            "in": "path",
            "description": "Catalog version identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogVersion"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogVersion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/catalogs/{catalogId}/{catalogVersionId}/categories/{categoryId}": {
      "get": {
        "tags": [
          "Catalogs"
        ],
        "summary": "Get information about catagory in a catalog version",
        "description": "Returns information about a specified category that exists in a catalog version available for the current base store.",
        "operationId": "getCategories",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogId",
            "in": "path",
            "description": "Catalog identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogVersionId",
            "in": "path",
            "description": "Catalog version identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryHierarchy"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryHierarchy"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/categories/{categoryId}/products": {
      "get": {
        "tags": [
          "B2B Categories"
        ],
        "summary": "Gets a list of products under a specific category",
        "description": "Returns a list of products in the specified category.",
        "operationId": "getProductsByCategory",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "path",
            "description": "The category ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "description": "The current result page requested.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of results returned per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Serialized query in format: freeTextSearch: sort: facetKey1: facetValue1: facetKey2: facetValue2",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting method applied to the display search results.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchPage"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSearchPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/ccpconfigurator/{configId}": {
      "get": {
        "tags": [
          "Product Configurator CCP"
        ],
        "summary": "Gets a product configuration",
        "description": "Returns a product configuration, specified by its id. In case this call is done in the context of a logged-in session, the call ensures that the configuration is only returned if the user is authorized to view the configuration",
        "operationId": "getProductConfiguration",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expMode",
            "in": "query",
            "description": "If this parameter is provided and its value is true, the system tries to execute the request in expert mode (only possible if the current user belongs to group 'sapproductconfigexpmodegroup'",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "If the parameter is provided only the attributes of the requested group are returned. If the parameter is not provided, attributes for all groups are returned.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfiguration"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Product Configurator CCP"
        ],
        "summary": "Updates a product configuration",
        "description": "Updates a product configuration. It's possible to send only the changed parts of the configuration, for example a single value change for an attribute. These changes must include their entire path through the configuration (the group they belong to and its parent groups)",
        "operationId": "updateProductConfiguration",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expMode",
            "in": "query",
            "description": "If this parameter is provided and its value is true, the system tries to execute the request in expert mode (only possible if the current user belongs to group 'sapproductconfigexpmodegroup'",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CCPConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfiguration"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfiguration"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/ccpconfigurator/{configId}/configurationOverview": {
      "get": {
        "tags": [
          "Product Configurator CCP"
        ],
        "summary": "Gets a product configuration overview",
        "description": "Gets a configuration overview, a simplified, condensed read-only view on the product configuration. Only the selected attribute values are present here",
        "operationId": "getProductConfigurationOverview",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationOverview"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationOverview"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Product Configurator CCP"
        ],
        "summary": "Updates the product configuration overview",
        "description": "Updates the configuration overview, a simplified, condensed read-only view on the product configuration. Only the selected attribute values are present here",
        "operationId": "updateProductConfigurationOverview",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CCPConfigurationOverview"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationOverview"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationOverview"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/ccpconfigurator/{configId}/pricing": {
      "get": {
        "tags": [
          "Product Configurator CCP"
        ],
        "summary": "Gets prices for a product configuration",
        "description": "Gets price elements on configuration level and on attribute value level if present. Those price elements include e.g. the configuration base price and the sum of selected options",
        "operationId": "getProductConfigurationPricing",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Specifies the group for which the value prices are requested. In case not specified, no value prices are returned",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationPricing"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CCPConfigurationPricing"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/ccpconfigurator/{configId}/variants": {
      "get": {
        "tags": [
          "Product Configurator CCP Variant Search"
        ],
        "summary": "Gets variants for a product configuration",
        "description": "Gets variants that match the current configuration attributes",
        "operationId": "getProductConfigurationVariantSearch",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configId",
            "in": "path",
            "description": "Configuration identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CCPConfigurationProductVariant"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CCPConfigurationProductVariant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cities/{cityId}/districts": {
      "get": {
        "tags": [
          "Cities"
        ],
        "summary": "Gets districts for a city.",
        "description": "Gets all districts for a city.",
        "operationId": "getDistricts",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cityId",
            "in": "path",
            "description": "City identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistrictList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cms/components": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get component data",
        "description": "Finds cms components by the specified IDs. When none is provided, this will retrieve all components\nThe components list will be filtered by the given catalog, product or category restrictions, as well as by the pagination information. The result will be sorted in the specified order.",
        "operationId": "getComponentsByIds",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogCode",
            "in": "query",
            "description": "Catalog code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryCode",
            "in": "query",
            "description": "Category code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentIds",
            "in": "query",
            "description": "List of Component identifiers",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "description": "Optional pagination parameter. Default value 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional pagination parameter. Default value 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "Product code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort criterion. No default value.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedComponents"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedComponents"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Components"
        ],
        "summary": "Get components' data by id given in body",
        "description": "Given a list of component identifiers in body, return cms component data.",
        "operationId": "searchComponentsByIds",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogCode",
            "in": "query",
            "description": "Catalog code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryCode",
            "in": "query",
            "description": "Category code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "description": "Optional pagination parameter. Default value 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional pagination parameter. Default value 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "Product code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort criterion. No default value.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentIDList"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedComponents"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedComponents"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cms/components/{componentId}": {
      "get": {
        "tags": [
          "Components"
        ],
        "summary": "Get component data by id",
        "description": "Given a component identifier, return cms component data.",
        "operationId": "getComponentById",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogCode",
            "in": "query",
            "description": "Catalog code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryCode",
            "in": "query",
            "description": "Category code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentId",
            "in": "path",
            "description": "Component identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "Product code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentAdaptedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentAdaptedData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cms/pages": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Get page data with a list of cms content slots",
        "description": "Get page data with a list of cms content slots based on pageLabelOrId or code. If none is provided then this will retrieve a Homepage cms content slots.\nContent pages can be filtered by pageLabelOrId while the rest of the page types can be filtered by the code.",
        "operationId": "getPage",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "If pageType is ProductPage, code should be product code; if pageType is CategoryPage, code should be category code; if pageType is CatalogPage, code should be catalog code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "pageLabelOrId",
            "in": "query",
            "description": "Page Label or Id; if no page has a label that matches the provided label exactly, try to find pages whose label starts with a section of the provided label. Otherwise, try to find the page by id. Note: URL encoding on the page label should be applied when the label contains special characters",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageType",
            "in": "query",
            "description": "Page type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ContentPage",
                "ProductPage",
                "CategoryPage",
                "CatalogPage"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PageAdaptedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageAdaptedData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cms/pages/{pageId}": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Get page data for specific page id with a list of cms content slots",
        "description": "Given a page identifier, return the page data with a list of cms content slots, each of which contains a list of cms component data.",
        "operationId": "getPageById",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "pageId",
            "in": "path",
            "description": "Page Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PageAdaptedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageAdaptedData"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/cms/sitepages": {
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Get a list of page data.",
        "description": "Get a list page data with pagination support.",
        "operationId": "getAllPages",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currentPage",
            "in": "query",
            "description": "Pagination parameter. Default value 0.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration (list of fields, which should be returned in response)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "BASIC",
                "DEFAULT",
                "FULL"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional pagination parameter. Default value 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "pageType",
            "in": "query",
            "description": "Page type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ContentPage",
                "ProductPage",
                "CategoryPage",
                "CatalogPage"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional sort criterion. No default value.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedPages"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdaptedPages"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      }
    },
    "/{baseSiteId}/costcenters": {
      "get": {
        "tags": [
          "B2B Cost Centers"
        ],
        "summary": "Get active cost centers.",
        "description": "Returns the list of all active cost centers.",
        "operationId": "getActiveCostCenters",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "curr",
            "in": "query",
            "description": "Currency",
            "required": false,
            "schema": {
              "type": "string",
              "default": "USD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/B2BCostCenterList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BCostCenterList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorList"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2_Password": [
              "basic"
            ]
          },
          {
            "oauth2_client_credentials": [
              "extended"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "B2B Cost Centers"
        ],
        "summary": "Create a new cost center.",
        "description": "Creates a new cost center.",
        "operationId": "createCostCenter",
        "parameters": [
          {
            "name": "baseSiteId",
            "in": "path",
            "description": "Base site identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Response configuration. This is the list of fields that should be returned in the response body. Examples: BASIC,DEFAULT,FULL",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEFAULT"
            }
          },
          {
            "name": "lang",
            "in": "query",
[...]
